* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.padd {
    padding: 120px 0;
}
.container {
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
 }
 .header {
     text-align: center;   
 }
 .header .header-title{
     font-size: 35px;
     text-transform: capitalize;
     margin-bottom: 9px;
     margin-top: 6px;
 }
 .header .header-line{
    display: block;
    width: 62px;
    height: 4px;
    background-color: rgb(85, 10, 68);
    margin: 0  auto  70px  auto;
} 
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
/* HEADER//////////////////////////////////////////////////////////////////// */
.header1 {
    width: 100% ;
    height: 60 px ;
    background-color : black ;
    position: fixed;
    top: 0 ;
    left: 0 ;
    z-index: 100;
    opacity: 0.8;
}
.logo {
    margin-left: 100px;
    float: left;
}
.list1 {
    list-style: none;
    margin-right: 100px;
    float: right;
}
.clearfix {
    clear: both;
}
.list1 li {
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
   margin-top: 15px;
}
.list1 li a {
    color:  #970073;
}
.list1 li a:hover {
    text-decoration: underline;
}
/* HOME ////////////////////////////////////////////////////////////////////// */
.home {
    height: 100vh;
    background-color: rgb(219, 240, 229);
    background-image: url(../images/home-img.png);
    background-repeat: no-repeat;
    background-position:left bottom;
    position: relative;
}
.home-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.home-content  h1 {
    color: #970073 ;
    font-size: 40px;
    text-transform: uppercase;
    word-spacing: 5px;
}
.home-content  p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
    letter-spacing: 1px;
    color: rgb(43, 41, 41);
}
.home-content .btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 21px;
    cursor: pointer;
}
.btn1 {
    margin-right: 10px;
    background-color: rgb(213, 206, 199);
}
.btn2{
    color: cornsilk;
    background-color: rgb(207, 26, 207);
}
.btn:hover {
    opacity: 0.7;
}
/* ABOUT ///////////////////////////////////////////////////////////////// */
.about {
    background-color: rgb(234, 219, 200);
}
.about-content {
    overflow: auto;
}
.about-item {
    width: 30%;
    height: 320px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    float: left;
    padding: 30px 15px;
    position: relative;
}
 .gg {
    margin: 0  5%;
}
.about-item  img {
    margin-bottom: 10px;
}
.about-item h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #970073 ;
}
.about-content p {
    line-height: 22px;
    margin-bottom: 50px;
    color:rgb(73, 77, 77);
}
.about-item  a {
    color: #970073 ;
    font-size: 20px;
}
.about-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgb(202, 31, 160);
    opacity: 0;
    border-radius: 15px;
}
.about-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
}
.about-item:hover h2 {
    color: #521616;
}
/* PORTFOLIO ////////////////////////////////////////////////////////////////////////// */
.port-content {
    overflow: auto;
}
.port-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding:20px;
}
.port-item img{
    border-radius: 20px;
    width: 100%;
}
.port-item.gg {
    margin: 0 5%;
}
.port-item .port-item-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition:opacity 1s;
}
.port-item:hover .port-item-content{
    opacity:1;
    visibility: visible;
}
 .port-item-content .port-item-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.port-item-content .category {
    color: #c80982 ;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
}
.port-item-content h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.port-item-content a  {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #df03ab ;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
    
}
.port-item:hover .port-item-content h3,
.port-item:hover .port-item-content a,
.port-item:hover .port-item-content .category{
   top:0;
   opacity: 1;
   visibility: visible;
}
.port-item-content a i{
    line-height: 40px;
    color: #510223;
}
/* OFFER ////////////////////////////////////////////////////////////////////////// */
.offer {
   background-color: rgb(234, 219, 200);
} 
.offer-content {
    overflow: auto;
}
.offer-item{
    width:30%;
    float: left;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.gg{
    margin: 0%  5%;
}
.offer-item .icon{
    position: absolute;
    left:15px;
    top:26px;
    color: #970073 ;
}
.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.offer-item-desc {
 text-transform: capitalize;
 margin-bottom: 15px;
 line-height: 1.6;
 color: #5a5151;
 }
 .offer-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(202, 31, 160);
    opacity: 0;
    border-radius: 20px;
}
.offer-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
}
 .offer-item:hover  h2 {
     color: #a3177e;
 }
 /* SERVICE /////////////////////////////////////////////////////////////////////////////////////////// */
.service {
    background-color: #f9f9f9;
}
.service-item{
    width:50%;
    float:left;
}
.clear {
    clear: both;
}
.service-item .header{
    text-align:left;
}
.service-item .header .header-line{
    margin: 0 0 45px 0;
}
.service-item-desc{
    padding-right: 20px;
    color:#83176d;
    line-height: 1.4;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 50px;
}
.service-list {
    list-style: none;
    margin-top: 20px;
    
}
.service-list li i {
    border: 1px solid #6d065e;
    color: #690c79;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height:20px;
}
.service-list li{
    text-transform: capitalize;
    margin-bottom: 13px;
    color: #716c6c;
}
.service-bullets{
    list-style: none;
    text-align: center;
}
.service-bullets li{
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #5c0852;
    margin: 10px 5px;
    border-radius: 50%;
}
.service-bullets li.active{
    background-color: #d25eb5;
}
.service-bullets li:hover{
    background-color: #ae40b2;
}
/* NUMBERS /////////////////////////////////////////////////////////////////////////////////////////// */
.numbers {
    position: relative;
    background-image: url(../images/num.jpg);
    height:350px;
    background-size: cover;
    background-attachment: fixed;
}
.numbers-items{
    overflow:auto;
    padding-top: 130px;
}
.number-item {
    width: 25%;
    float: left;
    text-align:center;
}
.number-item .icon{
    color:#e32ece;
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.number-item-text {
    color: white;
}

/*  PRICING /////////////////////////////////////////////////////////////////////////////////////////// */
.pricing {
    background-color: rgb(234, 219, 200);
}
.pricing-plans{
    overflow: auto;
}
.pricing-item{
    background-color: white;
    float: left;
    width:30%;
    padding:30px 15px;
    border-radius: 20px;
    text-align: center;
}
.pricing-item-text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color:#bd1a97;
}
.pricing-item-permonth{
    width: 100px;
    height: 100px;
   padding:12px 0;
    margin: 20px auto;
    border: 2px solid #db1ac8;
    border-radius: 50%;
    background-color: #c4477b;
}
.doller{
    font-size: 50px;
}
.month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.pricing-list{
    list-style: none;

}
.pricing-item-btn {
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #d518a0;
    border-radius: 5px;
    margin: auto;
    padding:7px;
    background-color:  #e225ac;
    display: block;
    width: 120px;
    margin-top: 15px;
}
.pricing-item.gg{
    margin: 0 5%;
}
.pricing-list li{
    color:#555353;
    line-height: 1.8;
}
.pricing-item{
    position: relative;
}
.pricing-item:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0 ;
    top: 0;
    left: 0;
    background-color: #bd78ad;
    transition: .5s;
    opacity:.5;
    border-radius: 20px;
}
.pricing-item:hover:after{
    width: 100%;
    height: 100%;
}
.pricing-item:hover .pricing-item-text{
    color: rgb(236, 11, 11);
}
.pricing-item:hover .pricing-item-permonth{
    color: rgb(245, 12, 12);
    transition: 1s;
}
/*  TESTIMONIAL ///////////////////////////////////////////////////////////////////////////////////////////*/
.testimonial {
    position: relative;
    background-image: url(../images/cc.png);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
}   
.testimonial-content{
    overflow: auto;
    width: 90%;
    margin: auto;
}
.testimonial-item {
    float: left;
    width: 50%;
    color: #fff;
    padding-right: 20px;
    padding-top: 55px;
    margin-bottom: 110px;
}
.testimonial-toplayer{
   padding:90px 20px 10px 150px;
   position:relative;
   line-height: 1.4;
   margin-bottom: 20px;
}
.testimonial-toplayer img{
   position: absolute;
   top: 82px;
   left: 65px;
   border-radius: 50%;
}
.testimonial-desc{
   text-transform: capitalize;
   line-height: 1.5;
   margin-left: 76px;
   font-size: 14px;
}
.testimonial-toplayer span{
   color: #c31882;
   font-weight: 600;
}
/*  TEAM /////////////////////////////////////////////////////////////////////////////////////////// */

        .team-content{
            overflow: auto;
            padding-left: 70px;
        }
        .team-item{
            display: block;
            float: left;
            width: 28%;
            border-radius: 20px;
            background-color: #dab0cf;
            padding: 17px 13px;
            text-align: center;
            position: relative;
        }
        .team-img{
            width: 90%;
            margin: auto;
            position: relative;
        }
        .team-overlay{
            position: absolute;
            top:0;
            right:0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            visibility: hidden;
            opacity:0;
        }
        .team-item:hover .team-overlay{
            visibility: visible;
            opacity: 1;
        }
        .team-overlay a {
            display: block;
            width: 40px;
            height:40px;
            background-color: #9c0e7b;
            color:white;
            margin-left: auto;
        }
        .team-overlay a i{
            line-height: 40px;
        }
        .team-info-title{
            color:#222;
            padding:10px 0;
        }
        .team-info-text{
            color:#6b0b38;
            text-transform: uppercase;
            font-size: 14px;
        }
        .team-item.gg{
            margin: 0 5%;
        }
        .team-img img{
            width: 100%;
        }
        .team-item:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top:0;
            left: 0;
            background-color: #e4a2ce;
            opacity: 0;
            border-radius: 20px;
        }
        .team-item:hover:after{
            width: 100%;
            height: 100%;
            opacity:.4;
            transition: 1s;
        }
        .team-item:hover .team-info-title{
            color:#fff;
            transition:  .5s;
        }
        .team-item:hover .team-info-text{
            color: rgb(237, 14, 188);
            transition: 1s;
        }
/*  BLOG /////////////////////////////////////////////////////////////////////////////////////////// */
        .blog {
            background-color: rgb(234, 219, 200);
        }
        .blog-content{
            overflow: auto;
        }
        .blog-item{
            float: left;
            width: 28%;
            background-color: #fff;
            border-radius: 10px;
            position: relative;
        }
        .blog-item-img{
            width: 100%;
            margin-left: 23px;
        }
        .blog-list{
            list-style: none;
            margin: 10px 0;
        }
        .blog-list li{
            display: inline-block;
            font-size: 12px;
            margin: 0 5px;
        }
        .blog-list li  i{
            color: #ef0ab2;
        }
        .blog-info{
            padding: 20px;
        }
        .blog-title{
            font-weight: bold;
            margin: 20px 0;
            margin-bottom: 25px;
        }
        .blog-desc{
            color: #999;
            margin-bottom: 20px;
            line-height: 1.5;
        }
        .blog-link{
            color: #ff00dd;
            font-weight: 600;
        }
        .blog-item.gg{
            margin: 0 5%;
        }
        .blog-item:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            right: 0%;
            bottom: 0;
            transition: 1s;
            opacity: 0;
            background-color: #c894b2;
            border-radius: 10px;
        }
        .blog-item:hover:after{
            width: 100%;
            height: 100%;
            opacity: .5;
        }
/*  FOOTER /////////////////////////////////////////////////////////////////////////////////////////// */
        
        .footer{
            background-color: #28292c;
            text-align: center;
            padding-bottom: 30px;
        }
        .footer-links{
            list-style: none;
            margin-bottom: 20px;
        }
        .footer-links li{
            display: inline-block;
            background-color: #b015a9;
            width:50px;
            height: 50px;
            position: relative;
            z-index: 1;
            border-radius: 50%;
        }
        .footer-links li a{
            display: block;
            width:100%;
            height: 100%;
            color: #fff;
            line-height: 50px;
            padding-top: 15px;
            padding-right: 15px;
            font-size: 23px;
            margin: 0 8px;
        }
        .down {
            margin-bottom: 20px;
        }
        .down img {
            cursor: pointer;
            margin-top: 20px;
        }
        .down h2 {
            color: rgb(210, 196, 196);
        }
        .footer p{
            color:#999;
            font-size:15px;
            text-transform: uppercase;
            padding-top: 10px;
        }
        /* ///////////////////////////////////////////////////////////////////////////////////////////////////// */



   
   
   


 


 
   

 

